@charset "UTF-8";
html{
    font-size: 100%;
}
h1{
    background-color:red;
    font-size:2rem;
    text-align: center;    
}
h2{
    color:blue;
    font-size:1.5rem;
}
body{
    
    background-image: bg.png ;
}
